<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../templatels/head'); %>
</head>
<body class="container">

<header>
  <%- include('../template/header'); %>
</header>

<main>
<h1>Wellcome to about page </h1>
  
</main>

</body>
</html>